body {
    background-color: #1A1A1A;
    color: #E6E6E6;
    font-family: sans-serif;
}

.container {
    text-align: center;
    margin-top: 3em;
}

.title {
    font-size: 48px;
    margin-bottom: 1em;
}

.centered {
    margin: 0 auto;
    display: block;
}

.button-panel {
    display: inline-grid;
    align-items: center;
    column-gap: 2rem;
    grid-template-columns: auto auto;
}

.button-panel button {
    width: 200px;
}

.explanation {
    margin-top: 2rem;
    width: 50%;
    min-width: 300px;
    max-width: 800px;
    font-size: 1.4rem;
    text-align: justify;
}

.beat-display {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.beat-display-tick {
    margin: 0 10px;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
}

.beat-display-tick[filled=true] {
    background: #e81a53;
}

.playback-state-text {
    margin-top: .5rem;
    font-size: 1.4rem;
}
